.element__delete-button {
    background: transparent url("../../../images/button_delete.svg") center no-repeat;
    display: block;
    padding: 0;
    border: none;
    transition: opacity .5s ease-in-out;
    outline: none;
    cursor: pointer;
    position: absolute;
    object-fit: contain;
    top: 18px;
    right: 15px;
    width: 18px;
    height: 19px;
    z-index: 1;
}

.element__delete-button:hover {
    opacity: .6;
  }

