.header__close-button {
  background: transparent url('../../../images/Close-Icon.svg') no-repeat center;
  object-fit: cover;
  width: 24px;
  height: 24px;
  display: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

@media screen and (max-width: 768px) {
  .header__close-button{
    display: block;
    margin: 0 27px 0 0;
  }
}
