.profile__avatar-overlay::after {
  content: " ";
  background: url('../../../images/editProfile.svg') 26px 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 26px;
  height: 26px;
}

