.header__menu-mobile {
  background: transparent url('../../../images/menu-mobile.svg') no-repeat center;
  width: 24px;
  height: 24px;
  object-fit: contain;
  display: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

@media screen and (max-width: 768px) {
  .header__menu-mobile {
    display: block;
    margin: 0 27px 0 0;
  }
}
