@import url('./vendor/normalize.css');
@import url('./vendor/fonts.css');

@import url('./blocks/page/page.css');
@import url('./blocks/page/__container/page__container.css');
@import url('./blocks/header/header.css');
@import url('./blocks/header/__logo/header__logo.css');
@import url('./blocks/header/__link/header__link.css');
@import url('./blocks/header/__text/header__text.css');
@import url('./blocks/header/__items/header__items.css');
@import url('./blocks/header/__link/_type/header__link_type_main-page.css');
@import url('./blocks/header/__menu-mobile/header__menu-mobile.css');
@import url('./blocks/header/__items/_opened/header__items_opened.css');
@import url('./blocks/header/__close-button/header__close-button.css');

@import url('./blocks/profile/profile.css');
@import url('./blocks/profile/__add-button/profile__add-button.css');
@import url('./blocks/profile/__avatar-overlay/profile__avatar-overlay.css');
@import url('./blocks/profile/__avatar/profile__avatar.css');
@import url('./blocks/profile/__edit-button/profile__edit-button.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__subtitle/profile__subtitle.css');
@import url('./blocks/profile/__title/profile__title.css');

@import url('./blocks/elements/elements.css');
@import url('./blocks/elements/__grid/elements__grid.css');

@import url('./blocks/element/element.css');
@import url('./blocks/element/__button/element__button.css');
@import url('./blocks/element/__description/element__description.css');
@import url('./blocks/element/__title/element__title.css');
@import url('./blocks/element/__photo/element__photo.css');
@import url('./blocks/element/__delete-button/element__delete-button.css');
@import url('./blocks/element/__delete-button/_type/element__delete-button_type_visible.css');
@import url('./blocks/element/__delete-button/_type/element__delete-button_type_hidden.css');

@import url('./blocks/footer/footer.css');
@import url('./blocks/footer/__copyright/footer__copyright.css');

@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/__close-button/popup__close-button.css');
@import url('./blocks/popup/__item/popup__item.css');
@import url('./blocks/popup/__items/popup__items.css');
@import url('./blocks/popup/__submit-button/popup__submit-button.css');
@import url('./blocks/popup/__text/popup__text.css');
@import url('./blocks/popup/__title/popup__title.css');
@import url('./blocks/popup/_opened/popup_opened.css');
@import url('./blocks/element/__button/_active/element__button_active.css');
@import url('./blocks/popup/__items/_type/popup__items_type_open-photo.css');
@import url('./blocks/popup/__big-photo/popup__big-photo.css');
@import url('./blocks/popup/__close-button/_type/popup__close-button_type_open-photo.css');
@import url('./blocks/popup/__description/popup__description.css');
@import url('./blocks/popup/_type/popup_type_open-photo.css');
@import url('./blocks/popup/__items/_type/popup__items_type_add-card.css');
@import url('./blocks/popup/__title/_type/popup__title_type_add-card.css');
@import url('./blocks/popup/__item/_type/popup__item_type_add-card.css');
@import url('./blocks/popup/__submit-button/_type/popup__submit-button_type_add-form.css');
@import url('./blocks/popup/__close-button/_type/popup__close-button_type_add-form.css');
@import url('./blocks/popup/__text//_type/popup__text_type_error.css');
@import url('./blocks/popup/__error/popup__error.css');
@import url('./blocks/popup/__items/_type/popup__items_type_info-tool-tip.css');
@import url('./blocks/popup/__submit-button/_inactive/popup__submit-button_inactive.css');
@import url('./blocks/popup/__title/_type/popup__title_type_delete-card.css');
@import url('./blocks/popup/__icon/popup__icon.css');
@import url('./blocks/popup/__title/_type/popup__title_type_info-tool-tip.css');
@import url('./blocks/element/__count-like/element__count-like.css');
@import url('./blocks/profile/__items/profile__items.css');


@import url('./blocks/auth-form/auth-form.css');
@import url('./blocks/auth-form/__title/auth-form__title.css');
@import url('./blocks/auth-form/__items/auth-form__items.css');
@import url('./blocks/auth-form/__input/auth-form__input.css');
@import url('./blocks/auth-form/__submit-button/auth-form__submit-button.css');
@import url('./blocks/auth-form/__redirect/auth-form__redirect.css');
@import url('./blocks/auth-form/__submit-button/_type/auth-form__submit-button_type_login.css');
@import url('./blocks/auth-form/__submit-button/_type/auth-form__submit-button_type_register.css');
@import url('./blocks/auth-form/__link/auth-form__link.css');

